services:
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ./ollama/data:/root/.ollama
      - ./ollama/init:/init
    environment:
      - OLLAMA_KEEP_ALIVE=-1
      # Actually shows you the input prompts and responses in the logs
      - OLLAMA_DEBUG=2
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    entrypoint: [ "/bin/sh", "/init/run_ollama.sh" ]

    
  db:
    image: postgres:17
    ports:
      - 15432:5432
    environment:
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=not-secure
      - POSTGRES_DB=spring-vs-quarkus
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PGDATA=/var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dbuser -d spring-vs-quarkus"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - ./db/data/:/var/lib/postgresql/data/

  backend-quarkus:
    profiles: [ "quarkus" ]
    build:
      context: ./backend-quarkus/
    container_name: backend
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - QUARKUS_LANGCHAIN4J_OLLAMA_BASE-URL=http://ollama:11434
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://db:5432/spring-vs-quarkus
      - QUARKUS_DATASOURCE_USERNAME=dbuser
      - QUARKUS_DATASOURCE_PASSWORD=not-secure
    ports:
      - "8080:8080"

  backend-spring:
    profiles: [ "spring" ]
    build:
      context: ./backend-spring/
    container_name: backend
    depends_on:
      - ollama
    environment:
      - SPRING_AI_OLLAMA_MODEL=llama3.2:1b
      - SPRING_AI_OLLAMA_BASE-URL=http://ollama:11434
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/spring-vs-quarkus
      - SPRING_DATASOURCE_USERNAME=dbuser
      - SPRING_DATASOURCE_PASSWORD=not-secure
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-svq
    environment:
      - BACKEND_URL=http://backend:8080
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/spring-vs-quarkus
      - SPRING_DATASOURCE_USERNAME=dbuser
      - SPRING_DATASOURCE_PASSWORD=not-secure
    ports:
      - "8081:8081"